$main_color: #6C64FB;
$main_color_rgb_light:rgba(108, 100, 251, 0.9);
$main_color_light: #4A30B7;
$partner_main_color: #51565B;
$dark_partner_main_color: #404040;
$gradient_1: linear-gradient(90deg, $main_color 0%, $main_color_light 100%);
$gradient_navbar:linear-gradient(180deg, $main_color_light 0%, $main_color 100%);


@import '_mixins';
@import '../../vendor/css3-mixins/css3-mixins';
@import '_globals';

html,body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.overlay-loader{
  background: $main_color;
}

.hero-section{
  position:relative;
  background: url("../img/index/audience.jpg") no-repeat center center;
  background-size:cover;
  .main{
    color: $dark_partner_main_color;
    height:1300px;
    background: rgba(108, 100, 251, 0.9);
    position:relative;
    overflow: hidden;
    @media (max-width:767px)
    {
      height:2500px;
    }
    .intro-sub-section{
      margin-top:100px;
      color:#fff;
      .text-section{
        margin:50px auto 0 auto;

        .heading{
          font-weight: bold;
        }
      }
    }
    .demo-sub-section{
      margin-top:60px;
      a{
        color:#fff;
        &:hover{
        text-decoration: none;
        }
      }
      .each-demo{
        margin-top:50px;
        .screen{
          width: 350px;
          height: 250px;
          border:none;
          @include my-box-shadow(0px 10px 40px 0px rgba(0, 0, 0, 0.3));
        }
        .title{
          margin-top:25px;
          font-weight: bold;
        }
        //@include transition(all 1s ease-in-out);
        //&:hover{
        //  @include transform(scale(1.1));
        //}
      }
      .coming-soon-demo{
        margin-top:50px;

        .box{
          width: 350px;
          height: 250px;
          background: url("../img/index/audience.jpg") no-repeat center center;
          margin: 0 auto;
          @include my-box-shadow(0px 10px 40px 0px rgba(0, 0, 0, 0.3));
          .main-content {
            width: 350px;
            height: 250px;
            background: rgba(0, 0, 0, 0.70);
            position: relative;
            overflow: hidden;
            color:#fff !important;
            .title{
              position: relative;
              top:42%;
              font-weight: bold;
            }
          }
        }
      }
    }

  }
}
.footer-section-2{
  padding:15px 0;
  background:#303030;
  color:#fff;
  .copyright-text{
    text-align: center;
  }
}
