/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
.overlay-loader {
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999;
  background: black;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -khtml-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .overlay-loader .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 75px; }

.height-10 {
  height: 30px; }

.height-30 {
  height: 30px; }

.height-50 {
  height: 50px; }

.height-60 {
  height: 60px; }

.height-70 {
  height: 70px; }

.height-80 {
  height: 80px; }

.height-90 {
  height: 80px; }

.height-100 {
  height: 100px; }

.height-120 {
  height: 120px; }

.-mt-1 {
  margin-top: -0.25rem !important; }

.-mt-2 {
  margin-top: -0.5rem !important; }

.-mt-3 {
  margin-top: -1rem !important; }

.-mt-4 {
  margin-top: -1.5rem !important; }

.rotate-left-5 {
  -webkit-transform: rotate(5deg);
  -khtml-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg); }

.rotate-right-5 {
  -webkit-transform: rotate(-5deg);
  -khtml-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg); }

@media (max-width: 991px) {
  .no-tablet-rotate {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@media (max-width: 767px) {
  .no-mobile-rotate {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }

@media (max-width: 991px) {
  .no-tablet-mt {
    margin-top: 0 !important; } }

@media (max-width: 991px) {
  .no-tablet-ml {
    margin-left: 0 !important; } }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 26px; }
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 22px; } }

.d-table {
  width: 100%;
  height: 100%; }

@-webkit-keyframes bubble-effect {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(0.7);
    -khtml-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7); }
  25% {
    opacity: 0.5;
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 0.3;
    -webkit-transform: scale(1.1);
    -khtml-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  75% {
    opacity: 0.2;
    -webkit-transform: scale(1.3);
    -khtml-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    opacity: 0.1;
    -webkit-transform: scale(1.5);
    -khtml-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); } }

body {
  position: relative; }

.default-settings-svg {
  fill: #6C64FB;
  display: none;
  z-index: 1; }
  @media (max-width: 1400px) {
    .default-settings-svg {
      display: block; } }

.btn-dark-one {
  background: #6C64FB;
  padding: 10px 20px;
  margin: 10px auto;
  color: white !important;
  text-align: center;
  -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1); }
  .btn-dark-one a:hover {
    opacity: 0.9; }
  .btn-dark-one .text {
    margin-left: 5px; }

.btn-light-one {
  background: #fff;
  padding: 10px 20px;
  margin: 10px auto;
  color: #6C64FB !important;
  text-align: center;
  -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1); }
  .btn-light-one a:hover {
    opacity: 0.9; }
  .btn-light-one .text {
    margin-left: 5px; }

.separator {
  border-bottom: 2px solid #404040;
  opacity: 0.1; }

.bg-purple {
  background: #6C64FB; }

.bg-green {
  background: #43CF92; }

.bg-orange {
  background: #DF944A; }

.bg-red {
  background: #CF436E; }

.bg-blue {
  background: #4372CF; }

.bg-light-blue {
  background: #4ABBDF; }

html, body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; }

.overlay-loader {
  background: #6C64FB; }

.intro {
  text-align: center;
  margin: auto; }
  .intro .heading-rectangle {
    border: 5px solid #6C64FB;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    width: 80px;
    margin: auto; }
  .intro .heading {
    margin-top: 40px;
    font-weight: bold;
    z-index: 10; }
  .intro .description {
    position: relative;
    z-index: 10;
    margin: 20px auto 0 auto;
    width: 400px; }
    @media (max-width: 767px) {
      .intro .description {
        width: 100%; } }

.nav-section {
  -webkit-transition: all 0.5s ease-in-out;
  -khtml-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: transparent; }
  .nav-section .navbar-brand .dark-logo {
    display: none; }
  .nav-section .nav-item {
    margin: 0 10px; }
    .nav-section .nav-item .nav-link {
      color: white !important; }
  @media (max-width: 991px) {
    .nav-section .navbar-toggler {
      color: #fff; }
      .nav-section .navbar-toggler:focus {
        outline: none; }
      .nav-section .navbar-toggler .icon-itself {
        margin-top: 5px; }
    .nav-section .navbar-nav {
      background: white;
      text-align: center;
      margin-right: auto !important;
      padding: 20px;
      margin-top: 20px;
      -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
      -khtml-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1); }
      .nav-section .navbar-nav .nav-item a {
        color: #404040 !important; } }

.nav-section.colored {
  -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff; }
  .nav-section.colored .navbar-brand .dark-logo {
    display: inline-block; }
  .nav-section.colored .navbar-brand .light-logo {
    display: none; }
  .nav-section.colored .nav-item {
    margin: 0 10px; }
    .nav-section.colored .nav-item .nav-link {
      color: #404040 !important; }
  @media (max-width: 991px) {
    .nav-section.colored .navbar-toggler {
      color: #404040; }
    .nav-section.colored .navbar-nav {
      -webkit-box-shadow: none;
      -khtml-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none; } }

.hero-section {
  position: relative;
  background: url("../img/travel/hero.jpg") no-repeat center center;
  background-size: cover; }
  .hero-section .svg-background-1 {
    position: absolute;
    right: -365px;
    height: 500px;
    top: 100px;
    z-index: 1; }
  .hero-section .main {
    color: #404040;
    height: 850px;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden; }
    .hero-section .main .content {
      top: 200px;
      position: relative; }
      .hero-section .main .content .text-section {
        color: white;
        position: relative;
        z-index: 3;
        text-align: left;
        margin-top: 200px; }
        @media (max-width: 767px) {
          .hero-section .main .content .text-section {
            margin-top: 50px;
            text-align: center; } }
        .hero-section .main .content .text-section .heading {
          font-weight: bold; }
        .hero-section .main .content .text-section .description {
          margin-top: 20px; }
        .hero-section .main .content .text-section .btn-dark-one {
          margin-top: 10px;
          background: #6C64FB;
          background: linear-gradient(90deg, #6C64FB 0%, #4A30B7 100%);
          color: #fff;
          border: none;
          padding: 20px 30px;
          -webkit-border-radius: 5px;
          -khtml-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px; }
          .hero-section .main .content .text-section .btn-dark-one:hover {
            opacity: 0.9; }
          .hero-section .main .content .text-section .btn-dark-one .title {
            margin-left: 5px; }
      .hero-section .main .content .form {
        background: rgba(0, 0, 0, 0.55);
        padding: 30px;
        text-align: center;
        position: relative;
        z-index: 2;
        color: #fff; }
        .hero-section .main .content .form .heading {
          font-weight: bold; }
        .hero-section .main .content .form .description {
          color: #b1adad; }
        .hero-section .main .content .form .custom-field-box {
          position: relative; }
          .hero-section .main .content .form .custom-field-box .icon {
            left: 15px;
            position: absolute;
            top: 19px;
            color: #778188;
            font-size: 1.5em; }
          .hero-section .main .content .form .custom-field-box .custom-field {
            height: 60px;
            border: none;
            -webkit-border-radius: 0;
            -khtml-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            border-radius: 0;
            text-indent: 45px; }
          .hero-section .main .content .form .custom-field-box .custom-select-field {
            height: 60px;
            border: none;
            -webkit-border-radius: 0;
            -khtml-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            border-radius: 0;
            text-indent: 46px;
            webkit-appearance: none;
            -webkit-appearance: none; }
        .hero-section .main .content .form .submit-button {
          height: 60px;
          -webkit-border-radius: 0;
          -khtml-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0;
          background: #6C64FB;
          color: white;
          width: 100%; }
          .hero-section .main .content .form .submit-button .title {
            margin-left: 10px; }
          .hero-section .main .content .form .submit-button:hover, .hero-section .main .content .form .submit-button:focus {
            opacity: 0.85; }
      @media (max-width: 767px) {
        .hero-section .main .content {
          top: 200px;
          text-align: center !important; } }
    @media (max-width: 767px) {
      .hero-section .main {
        height: 1000px; } }
  .hero-section .colored {
    padding-top: 6px;
    margin-top: 0;
    background: linear-gradient(180deg, #4A30B7 0%, #6C64FB 100%);
    -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    -khtml-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1); }
    .hero-section .colored .link, .hero-section .colored .navbar-brand, .hero-section .colored .navbar-brand:hover, .hero-section .colored .navbar-nav .link, .hero-section .colored .navbar-nav .link:hover {
      color: #51565B; }
    .hero-section .colored .navbar-toggle .icon-bar {
      background-color: #51565B; }
    .hero-section .colored .link:after {
      background: #51565B; }
    .hero-section .colored .link:focus {
      outline: 0;
      color: #404040 !important; }
    .hero-section .colored .active .link {
      color: #404040 !important; }
    .hero-section .colored .active .link:after {
      background: #404040; }
  @media (max-width: 767px) {
    .hero-section .colored .link:hover {
      color: #404040 !important; }
    .hero-section .colored .active .link:after {
      display: none; }
    .hero-section .colored .active .link {
      background-color: #404040 !important;
      color: #404040 !important; } }

.packages-section {
  padding: 100px 15px;
  color: #51565B;
  position: relative; }
  .packages-section .svg-background-2 {
    position: absolute;
    left: -450px;
    height: 500px; }
    @media (max-width: 767px) {
      .packages-section .svg-background-2 {
        left: -450px; } }
  .packages-section .package {
    margin-top: 80px;
    position: relative; }
    .packages-section .package .each-package {
      position: relative;
      z-index: 2;
      text-align: center;
      padding: 30px 30px;
      background: #fff;
      margin-top: 20px;
      -webkit-box-shadow: 0px 4px 136px -14px #dfdfdf;
      -khtml-box-shadow: 0px 4px 136px -14px #dfdfdf;
      -moz-box-shadow: 0px 4px 136px -14px #dfdfdf;
      -ms-box-shadow: 0px 4px 136px -14px #dfdfdf;
      -o-box-shadow: 0px 4px 136px -14px #dfdfdf;
      box-shadow: 0px 4px 136px -14px #dfdfdf; }
      .packages-section .package .each-package .icon {
        color: #6C64FB;
        font-size: 50px; }
      .packages-section .package .each-package .heading {
        font-weight: bold; }
      .packages-section .package .each-package .sub-feature {
        list-style-type: none;
        padding: 0;
        text-align: left;
        margin-left: 5px;
        min-height: 200px; }
        .packages-section .package .each-package .sub-feature li {
          margin-bottom: 15px; }
          .packages-section .package .each-package .sub-feature li .sub-feature-icon {
            color: #6C64FB; }
          .packages-section .package .each-package .sub-feature li .title {
            margin-left: 20px; }
      .packages-section .package .each-package .separator {
        width: 180px;
        margin: auto; }
      .packages-section .package .each-package .price-box .price {
        color: #6C64FB;
        font-size: 35px;
        font-weight: bold; }
        .packages-section .package .each-package .price-box .price:after {
          content: "/";
          position: relative;
          color: #51565B;
          font-size: 15px;
          font-weight: normal; }
    .packages-section .package .each-package.big-one {
      position: relative;
      margin-top: -15px;
      padding: 60px 30px;
      z-index: 15; }
      @media (max-width: 767px) {
        .packages-section .package .each-package.big-one {
          padding: 30px 30px;
          margin-top: 20px; } }

.listing-section {
  position: relative;
  background: url("../img/travel/video_img.jpg") no-repeat center center;
  background-size: cover; }
  .listing-section .main {
    background: rgba(108, 100, 251, 0.9);
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 100px; }
    .listing-section .main .intro {
      color: #fff; }
    .listing-section .main a:hover {
      text-decoration: none; }
    .listing-section .main .listing {
      margin-top: 50px; }
      .listing-section .main .listing .item {
        margin: 15px 0;
        -webkit-box-shadow: 0px 10px 100px 0px rgba(14, 14, 14, 0.34);
        -khtml-box-shadow: 0px 10px 100px 0px rgba(14, 14, 14, 0.34);
        -moz-box-shadow: 0px 10px 100px 0px rgba(14, 14, 14, 0.34);
        -ms-box-shadow: 0px 10px 100px 0px rgba(14, 14, 14, 0.34);
        -o-box-shadow: 0px 10px 100px 0px rgba(14, 14, 14, 0.34);
        box-shadow: 0px 10px 100px 0px rgba(14, 14, 14, 0.34);
        -webkit-transition: all 0.5s ease;
        -khtml-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: white; }
        .listing-section .main .listing .item:hover .image {
          width: 100%;
          transform: scale(1.1); }
        .listing-section .main .listing .item .image-wrapper {
          overflow: hidden;
          position: relative;
          z-index: 2;
          height: 190px; }
        .listing-section .main .listing .item .image-wrapper:before {
          -webkit-transition: transform 0.5s ease-out;
          -khtml-transition: transform 0.5s ease-out;
          -moz-transition: transform 0.5s ease-out;
          -ms-transition: transform 0.5s ease-out;
          -o-transition: transform 0.5s ease-out;
          transition: transform 0.5s ease-out;
          content: '';
          z-index: 2;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          width: 100%; }
        .listing-section .main .listing .item .image-wrapper:after {
          -webkit-transition: transform 0.5s ease-out;
          -khtml-transition: transform 0.5s ease-out;
          -moz-transition: transform 0.5s ease-out;
          -ms-transition: transform 0.5s ease-out;
          -o-transition: transform 0.5s ease-out;
          transition: transform 0.5s ease-out;
          content: ''; }
        .listing-section .main .listing .item .image {
          -webkit-transition: transform 0.5s ease-out;
          -khtml-transition: transform 0.5s ease-out;
          -moz-transition: transform 0.5s ease-out;
          -ms-transition: transform 0.5s ease-out;
          -o-transition: transform 0.5s ease-out;
          transition: transform 0.5s ease-out;
          width: 100%; }
        .listing-section .main .listing .item .details-section {
          background: white;
          color: #484747;
          text-align: left;
          padding: 20px 15px 20px 15px; }
          .listing-section .main .listing .item .details-section .heading {
            display: inline-block;
            margin-top: 3px;
            font-size: 1.5em; }
          .listing-section .main .listing .item .details-section .price {
            color: #6C64FB;
            display: inline-block;
            float: right;
            font-size: 1.5em; }
          .listing-section .main .listing .item .details-section .description {
            color: #616161;
            font-size: 0.8em;
            margin-left: 1px; }
          .listing-section .main .listing .item .details-section .separator {
            margin: 0 60px; }
          .listing-section .main .listing .item .details-section .facilities {
            margin-top: 15px;
            text-align: center; }
            .listing-section .main .listing .item .details-section .facilities .each-facilities {
              margin-top: 10px; }
              .listing-section .main .listing .item .details-section .facilities .each-facilities .icon {
                color: #6C64FB;
                font-size: 1.2em; }
              .listing-section .main .listing .item .details-section .facilities .each-facilities .text {
                font-size: 0.8em; }

.main-features-section {
  padding: 100px 15px;
  background: white;
  color: #51565B;
  position: relative; }
  .main-features-section .svg-background-3 {
    position: absolute;
    right: -350px;
    height: 500px; }
    @media (max-width: 767px) {
      .main-features-section .svg-background-3 {
        right: -350px; } }
  .main-features-section .features .each-feature {
    text-align: left;
    margin-top: 30px;
    padding: 20px; }
    .main-features-section .features .each-feature .icon {
      color: #fff;
      height: 60px;
      width: 60px;
      font-size: 1.5em;
      position: relative;
      text-align: center;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
      -khtml-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
      padding: 15px;
      margin-bottom: 10px; }
    .main-features-section .features .each-feature .description {
      color: #8c8c8c; }

.video-text-section {
  padding: 100px 15px;
  background: linear-gradient(90deg, #6C64FB 0%, #4A30B7 100%);
  color: #fff; }
  .video-text-section .video-section {
    min-height: 300px;
    background: url("../img/travel/video_img_2.jpg") 50% 50% no-repeat;
    background-size: cover;
    -webkit-box-shadow: 11px 10px 76px -16px black;
    -khtml-box-shadow: 11px 10px 76px -16px black;
    -moz-box-shadow: 11px 10px 76px -16px black;
    -ms-box-shadow: 11px 10px 76px -16px black;
    -o-box-shadow: 11px 10px 76px -16px black;
    box-shadow: 11px 10px 76px -16px black;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
    .video-text-section .video-section .overlay .play-button {
      background: #fff;
      color: #6C64FB;
      position: relative;
      -webkit-border-radius: 50%;
      -khtml-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      display: inline-block;
      height: 80px;
      width: 80px; }
      .video-text-section .video-section .overlay .play-button .icon {
        font-size: 20px;
        margin-top: 30px;
        margin-left: 6px; }
      .video-text-section .video-section .overlay .play-button:before {
        content: "";
        position: absolute;
        left: -5px;
        top: -5px;
        height: 90px;
        width: 90px;
        border: 3px solid #fff;
        border-radius: 50%;
        -webkit-animation: bubble-effect 2s infinite forwards linear 1.5s;
        animation: bubble-effect 2s infinite forwards linear 1.5s; }
      .video-text-section .video-section .overlay .play-button:after {
        content: "";
        position: absolute;
        left: -5px;
        top: -5px;
        height: 90px;
        width: 90px;
        border: 3px solid #fff;
        border-radius: 50%;
        -webkit-animation: bubble-effect 2s infinite forwards linear;
        animation: bubble-effect 2s infinite forwards linear; }
  .video-text-section .text-section {
    padding: 20px;
    text-align: center; }
    .video-text-section .text-section .video_img_illustration {
      margin: 0px 0 20px 0; }
    .video-text-section .text-section .heading {
      font-weight: bold; }
    .video-text-section .text-section .description {
      margin-top: 15px; }

.testimonial-section {
  padding: 100px 15px;
  background: white;
  color: #51565B;
  position: relative; }
  .testimonial-section .svg-background-3 {
    position: absolute;
    left: -450px;
    height: 500px; }
  .testimonial-section .each-testimonial {
    text-align: center;
    -webkit-box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, 0.1);
    -khtml-box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, 0.1);
    -moz-box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, 0.1);
    -ms-box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, 0.1);
    -o-box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, 0.1);
    box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, 0.1);
    padding: 30px 30px 30px 30px;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px; }
    .testimonial-section .each-testimonial .testimonial_img {
      border-radius: 50%;
      position: relative;
      margin-bottom: 20px; }
    .testimonial-section .each-testimonial .name {
      color: #51565B;
      font-weight: bold;
      font-style: italic; }
      .testimonial-section .each-testimonial .name:before, .testimonial-section .each-testimonial .name:after {
        content: "-";
        margin-left: 5px;
        margin-right: 5px; }
    .testimonial-section .each-testimonial .text {
      margin-top: 15px;
      font-size: 14px; }
    .testimonial-section .each-testimonial .rating {
      margin-top: 15px;
      color: #EBDD23;
      text-align: center; }

.footer-section {
  color: #d6d6d6;
  background: #4d4d4d;
  padding: 70px 15px 15px 15px;
  font-size: 13px; }
  .footer-section a {
    color: #d6d6d6 !important; }
    .footer-section a:hover {
      text-decoration: none !important;
      color: #fff !important; }
  .footer-section .group {
    text-align: left;
    margin-bottom: 30px; }
    .footer-section .group .header .heading {
      font-weight: bold; }
    .footer-section .group .body {
      margin-top: 30px; }
      .footer-section .group .body .page-links {
        list-style-type: none;
        padding: 0; }
        .footer-section .group .body .page-links li {
          margin-top: 15px; }
      .footer-section .group .body .img-links {
        list-style-type: none;
        padding: 0;
        margin-bottom: 10px; }
        .footer-section .group .body .img-links li {
          margin: 0 2px 5px 0;
          display: inline-block; }
          .footer-section .group .body .img-links li a:hover {
            cursor: zoom-in; }
      .footer-section .group .body .social-links {
        margin-top: 20px;
        margin-bottom: 30px;
        list-style-type: none;
        padding: 0; }
        .footer-section .group .body .social-links .item {
          width: 30px;
          margin: 0 10px 10px 0;
          display: inline-block; }
          .footer-section .group .body .social-links .item .icon {
            padding: 10px;
            width: 36px;
            border-radius: 2px;
            background: rgba(128, 128, 128, 0.13);
            color: #adadad;
            -webkit-transition: transform 1s ease-out;
            -khtml-transition: transform 1s ease-out;
            -moz-transition: transform 1s ease-out;
            -ms-transition: transform 1s ease-out;
            -o-transition: transform 1s ease-out;
            transition: transform 1s ease-out; }
        .footer-section .group .body .social-links .item:hover .facebook-icon {
          background: #007bff;
          color: white; }
        .footer-section .group .body .social-links .item:hover .twitter-icon {
          background: #4f9fff;
          color: white; }
        .footer-section .group .body .social-links .item:hover .google-plus-icon {
          background: white;
          color: #ff524a; }
        .footer-section .group .body .social-links .item:hover .instagram-icon {
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          color: white; }
        .footer-section .group .body .social-links .item:hover .youtube-icon {
          background: #ff524a;
          color: white; }
      .footer-section .group .body .contact-info {
        margin-top: 20px;
        margin-bottom: 30px;
        list-style-type: none;
        padding: 0; }
        .footer-section .group .body .contact-info .item {
          margin-bottom: 20px; }
          .footer-section .group .body .contact-info .item .icon {
            padding: 10px;
            width: 36px;
            -webkit-border-radius: 50%;
            -khtml-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            background: rgba(128, 128, 128, 0.13);
            color: #adadad;
            -webkit-transition: transform 1s ease-out;
            -khtml-transition: transform 1s ease-out;
            -moz-transition: transform 1s ease-out;
            -ms-transition: transform 1s ease-out;
            -o-transition: transform 1s ease-out;
            transition: transform 1s ease-out; }
          .footer-section .group .body .contact-info .item .description {
            margin-left: 10px; }
      .footer-section .group .body .description {
        padding-top: 0; }
      .footer-section .group .body #map {
        height: 300px;
        width: 100%; }
    @media (max-width: 767px) {
      .footer-section .group {
        text-align: center; } }

.footer-section-2 {
  padding: 15px 0;
  background: #303030;
  color: #fff; }
  .footer-section-2 .copyright-text {
    text-align: center; }
